
/* =================================================
           ---------Imported Font --------
==================================================== */

/* ---------Primary Font -------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
/* ---------Logo Font -------- */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* font-family: 'Lobster', cursive; */
/* =================================================
           ---------Common Styles --------
==================================================== */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
   font-family: 'Inter', sans-serif;
   width: 100%;
   margin: 0 auto;
}
h2{
    color: black;
    font-size:35px;
    font-weight: bolder;
}
p{
    color: #444444;
}

.btn{
    background-color: #FF5959;
    border: none;
    color:#fff;
    font-weight: 600;
    padding: 16px 25px;
    border-radius: 5px;
}
/* =================================================
       ---------Header Banner Styles --------
==================================================== */
.hero-area{
      background-image: url("../images/banner.png"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
      background-blend-mode: overlay;
      background-repeat:no-repeat;
      background-size: cover;
      height: 85vh;
}

.hero-content{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-top: 8rem;
}
.site-title{
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
}
.hero-content > p{
    color: #ebebeb;
    padding:1rem 6rem;
    margin-bottom: 1.5rem;
}
/* =================================================
       ---------Donation section  Styles --------
==================================================== */
.donation-section{
    width: 60vw;
    margin: 7rem auto;

    text-align: center;
}

.donation-section > p{
    padding: 1rem 6rem;
}
.donation-amount-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.donation-amount-list > li{
    font-size: 25px;
    font-weight: bolder;
    margin: 10px auto 20px;
    color:gray;
    padding: 35px 25px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: .3s ease;
}

.donation-amount-list > li:hover{
 
    background-color: #ff77774f;
    color: #FF5959;
    border: 1px solid #FF5959;
    
}

.donation-section > input{
    width: 90%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid gray;
}

/* =================================================
  --------Donation Plan section  Styles --------
==================================================== */
.donation-plan-section{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.donation-plan-section > p{
    padding: 1rem 15rem;
}
.donation-plans{
    text-align: left;
    margin: 3rem 5rem 5rem;
    display: flex;
    gap: 2rem;
}

.plan-item{
    background-color: #ddfbff;
    padding: 3rem 1rem 2.25rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 rgba(58, 58, 58, 0.452);

}
.plan-item > h3{
    font-weight: bold;
    margin: 20px 0 10px;

}
.plan-item > p{
   color: gray;

}
.plan-bg2{
   background-color: #ffdddd;
}
.plan-bg3{
    background-color: #fff2ce;
}